<div class="row">
    <div class="col-md-5">
        <ul>
            <li><a href=# id="nav-user-edit"><%=i18n.edit%></a></li>
            <li><a href=#><%=i18n.change_role%></a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h4><%=i18n.notes%></h4>
        <table class="table table-striped">
            <%_.each(notes, function(note){%>
            <tr>

                <td><%=moment(note.created_at, "YYYYMMDD").fromNow()%></td>
                <td><%=note.note%></td>
            </tr>
            <%})%>
        </table>
    </div>
</div>

